@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Work+Sans&display=swap");
* {
  margin: 20;
  padding: 20;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.input__container .input__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
}
.input__container .input__field {
  color: #000000;
  background-color: #eeeeee;
  font-family: "Roboto Mono", cursive;
  font-size: 16px;
}

.output__container .output__text {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 5px;
}
.output__container .output__field {
  color: #eeeeee;
  font-family: "Roboto Mono", cursive;
  font-size: 16px;
}

.input__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input__container .input__field {
  height: 30vh;
  width: 80%;
}
.input__container .input__button {
  margin: 25px;
  width: 15%;
  height: 2.5rem;
}

.output__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.output__container .output__field {
  height: 30vh;
  width: 80%;
  border: 2px solid black;
}
